.artist {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

.artist-pp {
    width: 2rem;
    margin: 0.22rem 0 0 0;
}

.artist-dtls {
    margin: 0 0 0 0.5rem;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* Screen 1280px */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

@media (min-width: 1280px) {

    .artist-pp {
        width: 3rem;
        margin: -.3em 0 0 0;
    }

}